[Unit]
Description=SmartGrow TouchDesk Headless (PyQt5)
#After=multi-user.target SD.service
#Requires=SD.service
After=SD.service
Requires=SD.service


[Service]
ExecStartPost=/home/screwdrive/Screw-Drive-Control-V2/System/clear-splash.sh
User=screwdrive
WorkingDirectory=/home/screwdrive/Screw-Drive-Control-V2
Environment=QT_QPA_PLATFORM=eglfs
ExecStart=/usr/bin/python3 /home/screwdrive/Screw-Drive-Control-V2/touchdesk.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target