
[Unit]
Description=Framebuffer Splash Screen
DefaultDependencies=no
#After=local-fs.target
After=local-fs.target systemd-udev-settle.service
Before=graphical.target

[Service]
#Type=oneshot
Type=simple
RemainAfterExit=yes
Environment=FRAMEBUFFER=/dev/fb0
ExecStart=/usr/bin/fbi -a -T 1 -d /dev/fb0 --noverbose /opt/splash/splash.png

[Install]
#WantedBy=graphical.target
WantedBy=multi-user.target
